
.block{
    float: left;
    width: 100%;
}
.container{
    width: 1400px;
    margin: 0 auto;
}

.container .nav{
    
    background-color: rgb(216, 216, 218);
    display: flex;

}
.nav .logo-left{
    padding-left: 0px;
    margin: auto 16px;
}
.nav-center{
    padding-left: 0;
}
.nav-item{
    color: #000;
    list-style: none;
    display: inline-flex;
}
